%p.about.blog-container
  Hi, I'm Will, a web developer based in Denver, CO.  You can find me on
  GitHub and Twitter above.  Prior to programming I was a tennis pro and most
  recently an old-time music recording engineer.  I love talking about 
  Ruby, Javascript, Clojure, video games, music, movies, tv, books, the banjo, 
  and whatever else is out there that is interesting!

