!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %link{:href => url("/stylesheets/styles.css"), :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Roboto", :rel => "stylesheet", :type => "text/css"}/
  %body
    %div.container
      %ul.navbar
        %li.navbar-link
          %a{href: "/"} Blog
        %li.navbar-link
          %a{href: "/archive"} Archive
        %li.navbar-link
          %a{href: "/about"} About
        %li.navbar-link
          %a{href: "https://twitter.com/will_faurot"} Twitter
        %li.navbar-link 
          %a{href: "https://github.com/wfro"} GitHub
      =yield
  %footer.footer
    %small
      View the code at any time on
      %a{:href => "https://github.com/wfro/blerg"} GitHub
