!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %link{:href => "/stylesheets/styles.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Roboto", :rel => "stylesheet", :type => "text/css"}/
  %body
    %div.container
      %ul.navbar
        %li.navbar-icon
          %a{href: "/"}
            %img{src: "/images/blog-icon.png", alt: "blog"}
        %li.navbar-icon
          %a{href: "/"}
            %img{src: "/images/archive-icon.png", alt: "archive"}
        %li.navbar-icon
          %a{href: "/about"}
            %img{src: "/images/about-icon.png", alt: "about"}
        %li.navbar-icon
          %a{href: "https://twitter.com/will_faurot"}
            %img{src: "/images/twitter-icon.png", alt: "twitter"}
        %li.navbar-icon
          %a{href: "https://github.com/wfro"}
            %img{src: "/images/github-icon.png", alt: "github"}
      =yield
